.grid {
  display: grid;
  gap: 20px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card {
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.card h4 {
  font-size: 15px;
  margin: 8px 0 4px;
}

.card p {
  font-size: 13px;
  color: #aaa;
}
