.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0f0f0f;
  color: white;
}

.main {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px 40px;
  margin-left: 200px;   /* space for sidebar */
}
