.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0f0f0f;
  color: white;
  width: 100vw;
}

.main {
  display: flex;
  width: 100%;
}

.content {
  flex: 1;
  padding: 20px;
  width: 100%;
}