.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0f0f0f;
  color: white;
}

.main {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
}
