.navbar {
  height: 60px;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}


.logo {
  font-weight: bold;
  font-size: 20px;
  color: red;
  text-decoration: none;
}

input {
  width: 400px;
  padding: 8px 15px;
  border-radius: 25px;
  border: none;
  background: #222;
  color: white;
}
