.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #181818;
  position: fixed;
  left: 0;
  top: 60px;   /* below navbar */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.sidebar a:hover {
  color: red;
}
