.sidebar {
  width: 220px;
  background-color: #181818;
  padding: 20px;
  flex-shrink: 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 0;
  display: block;
}

.sidebar a:hover {
  color: red;
}
